---
machine:
  image: "ubuntu/bionic64"
  memory: "1024"
  cpus: "2"

nodes:
  - name: "crypto-1"
    nets:
    - netName: "net-1"
      ip: "10.5.1.2"
  - name: "crypto-2"
    nets:
    - netName: "net-1"
      ip: "10.5.1.1"
    - netName: "net-2"
      ip: "192.168.5.41"
  - name: "crypto-3"
    nets:
    - netName: "net-2"
      ip: "192.168.5.42"
    - netName: "net-3"
      ip: "10.5.2.1"
  - name: "crypto-4"
    nets:
    - netName: "net-3"
      ip: "10.5.2.2"
